<p-toast />

<div class="auth-wrapper">
  <div class="auth-card">

   <!-- Logo y título -->
  <div class="auth-header">
    <img src="icons/icon-192x192.png" alt="AgroConecta" class="auth-logo" />
    <h1>AgroConecta</h1>
    <p>Inicia sesión en tu cuenta</p>
  </div>

    <!-- Formulario -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">

      <!-- Email -->
      <div class="form-field">
        <label for="email">Correo electrónico</label>
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          placeholder="tucorreo@ejemplo.com"
          [class.ng-invalid]="email?.invalid && email?.touched"
        />
        @if (email?.invalid && email?.touched) {
          <small class="error-msg">Ingresa un correo válido</small>
        }
      </div>

      <!-- Contraseña -->
      <div class="form-field">
        <label for="password">Contraseña</label>
        <p-password
          id="password"
          formControlName="password"
          placeholder="••••••••"
          [feedback]="false"
          [toggleMask]="true"
          styleClass="w-full"
          inputStyleClass="w-full"
          [class.ng-invalid]="password?.invalid && password?.touched"
        />
        @if (password?.invalid && password?.touched) {
          <small class="error-msg">Mínimo 6 caracteres</small>
        }
      </div>

      <!-- Botón de submit -->
      <p-button
        type="submit"
        label="Iniciar sesión"
        [loading]="cargando"
        styleClass="w-full mt-2"
      />
    </form>

    <!-- Link al registro -->
    <p class="auth-footer">
      ¿No tienes cuenta?
      <a routerLink="/auth/registro">Regístrate aquí</a>
    </p>

  </div>
</div>
